<h2 mat-dialog-title>Editează listele</h2>
<mat-dialog-content class="mat-typography" style="overflow: hidden;">
    <form #listsForm="ngForm">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-icon *ngIf="newList.onEdit" mat-list-icon class="gray" matTooltip="Anulează" style="cursor: pointer;">close</mat-icon>
                <mat-icon *ngIf="!newList.onEdit" mat-list-icon class="gray" style="cursor: default;">add</mat-icon>
                <input [ngModelOptions]="{standalone: true}" class="mat-body-2 focused-input" (keyup)="$event.keyCode == 13 && addToLists(newList)" [(ngModel)]="newList.name" style="padding: 0 12px;" placeholder="Adaugă o listă nouă" (focus)="newList.onEdit = true" (focusout)="newList.onEdit = false">
                <span class="spacer"></span>
                <button mat-icon-button class="gray" [disabled]="!newList.name || newList.name.length == 0" (click)="addToLists(newList)" [style.opacity]="newList.onEdit ? '1' : '0'">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem" *ngFor="let list of lists; index as i; trackBy: trackList" (mouseenter)="list.onHover = true" (mouseleave)="list.onHover = false" [style.display]="list.deleted ? 'none' : ''" [@Am]>
                <mat-icon mat-list-icon class="gray" matTooltip="{{canDelete() ? 'Șterge lista' : 'Trebuie să existe cel puțin o listă!'}}" style="cursor: pointer;" (click)="canDelete() && deleteList(i)">{{list.onHover && canDelete() ? 'delete' : 'label'}}</mat-icon>
                <input required name="{{i}}" #name class="mat-body-2 focused-input" style="padding: 0 12px;" [ngClass]="{'error': !list.name || list.name.length == 0}" [(ngModel)]="list.name" (change)="list.changed = true; changed = true" (focus)="list.onEdit = true" (focusout)="list.onEdit = false" (keyup)="$event.keyCode == 13 && name.blur()">
                <span class="spacer"></span>
                <button mat-icon-button class="gray" (click)="name.focus()" *ngIf="!list.onEdit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="gray" *ngIf="list.onEdit">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </form>
    <div class="mat-body-2 disclaimer" *ngIf="deleted">Sarcinile din listele selectate pentru ștergere vor fi de asemenea șterse.</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-icon-button matTooltip="Reversează schimbările" class="gray" [style.visibility]="changed || deleted ? 'visible' : 'hidden'" (click)="undoChanges()">
        <mat-icon>undo</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button (click)="cancel()">ANULEAZĂ</button>
    <button mat-button (click)="save()" [disabled]="!listsForm.form.valid">SALVEZĂ</button>
</mat-dialog-actions>