/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* roboto-300 - latin-ext_latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('./assets/fonts/roboto-v18-latin-ext_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/roboto-v18-latin-ext_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin-ext_latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('./assets/fonts/roboto-v18-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/roboto-v18-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin-ext_latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('./assets/fonts/roboto-v18-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/roboto-v18-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/material-icons-v36.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.sidenav-container {
    flex: 1;
}

.spacer {
    flex: 1 1 auto;
}

button.icon-text-button {
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 8px 16px;
    background: unset;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}

button.icon-text-button:hover {
    background-color: #f1f3f4;
}

button.icon-text-button span {
    margin-left: 12px;
    font-size: 14px;
    color: #616161;
    font-weight: 700;
}

button.icon-text-button mat-icon {
    color: #1E88E5;
}

.layout {
    display: flex;
}

.layout.row {
    flex-direction: row;
}

.layout.column {
    flex-direction: column;
}

.layout .flex {
    flex: 1;
}

mat-expansion-panel.no-body-padding .mat-expansion-panel-body {
    padding: 0;
}

.mat-icon-button.gray, mat-icon.gray {
    color: rgba(0, 0, 0, 0.54);
}

.focused-input {
    border: none;
    margin-bottom: 1px; 
    outline: none;
}

.focused-input:focus {
    border-bottom: 1px solid #9E9E9E;
    margin-bottom: 0px;    
}

.focused-input.error {
    border-bottom: 1px solid #F44336;
    margin-bottom: 0px
}

.disclaimer {
    background: #EEEEEE;
    padding: 8px 24px;
    border-radius: 3px;
    margin-top: 16px;
}

.full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
}

.loading-screen {
    background: #3f51b5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-screen .app-title {
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    color: white;
}

.loading-screen .loading-container {
    margin-top: 40px;
    text-align: center; 
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.spinner .path {
  stroke-dasharray: 187px;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite, 
    colors 5.6s ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #E91E63; }
  100% { stroke: #E91E63; }
}

@keyframes dash {
 0% { stroke-dashoffset: 187px }
 50% {
   stroke-dashoffset: 46px;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 187px;
   transform:rotate(450deg);
 }
}